$black:#323436;
$blue:#0065BD;
$light_blue:#00A1DE;
$dark_grey:#747678;
$grey:#ADAFAF;
$white:#FFFFFF;

$main_font: "Inter", sans-serif;
$title_font: "MicraDI", sans-serif;

$xs: 430px;
$sm: 768px;
$md: 1024px;
$mm: 1200px;
$lg: 1440px;

.container {
    width: 100%;
    padding: 0 40px;
}



//MAIN STYLES//

.header {
    padding-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: center;

        &__logo {
            grid-column: span 2 / span 2;
        }
        &__nav {
            grid-column: span 5 / span 5;

                ul {
                    display: flex;
                    justify-content: space-between;

                        a {
                            font-size: 18px;
                            line-height: 22px;
                            color: $black;
                        }
                }

                &-dropdown {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    position: relative;

                        &--content {
                            position: absolute;
                            padding-top: 25px;

                            &-list {
                                padding: 20px;
                                background: #F3F5F5;
                                box-shadow: 0px 4px 4px rgba(50, 52, 54, 0.15), 0px 2px 2px rgba(0, 101, 189, 0.2);
                                border-radius: 20px;
                                display: flex;
                                flex-direction: column;

                                    li {
                                        padding: 10px 0 10px;
                                        
                                            a {
                                                font-size: 18px;
                                                line-height: 22px;
                                                color: $black;
                                                transition: all 0.3s;

                                                    &:hover {
                                                        color: $blue;
                                                    }
                                            }
                                    }
                            }
                        }
                }
        }
        &__phone {
            display: flex;
            justify-content: center;
            grid-column: span 2 / span 2;

                a {
                    font-size: 18px;
                    line-height: 22px;
                    color: $black;
                }
        }
        &__buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            grid-column: span 3 / span 3;

                &--search {
                    position: relative;
                    &-input {
                        position: absolute;
                    }
                    &-btn {
                        padding: 13px 14px 10px;
                        background: #E0EFF4;
                        border-radius: 20px;
                        border: 1px solid #E0EFF4;
                        transition: all 0.3s;

                            &:hover {
                                background: #FFFFFF;
                                border: 1px solid #00A1DE;
                            }

                            svg {
                                min-width: 28px;
                            }
                    }
                }
                &--order {
                    width: 100%;
                
                        &-btn {
                            transition: all 0.3s;
                            width: 100%;
                            padding: 18px 30px;
                            border-radius: 23px;
                            border: 1px solid $light_blue;
                            color: $light_blue;
                            font-size: 18px;
                            line-height: 22px;

                                &:hover {
                                    box-shadow: 0px 4px 4px rgba(50, 52, 54, 0.15), 0px 2px 2px rgba(0, 101, 189, 0.2);
                                    background: $blue;
                                    color: $white;
                                    border: 1px solid $blue;
                                }
                        }
                }
        }
}

.main {
    .main-swiper {
        img {
            width: 100%;
        }
    }
}

.about {
    background: $blue;
    padding: 70px 0 90px;

        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

                h2 {
                    font-family: $title_font;
                    font-size: 52px;
                    line-height: 62px;
                    color: $white;
                }
                span {
                    font-size: 16px;
                    line-height: 22px;
                    color: $white;
                }
        }
        &__descr {
            display: flex;
            justify-content: center;
            margin-top: 40px;

                p {
                    font-size: 46px;
                    line-height: 55px;
                    color: $white;
                    text-align: center;
                    max-width: 900px;
                }
        }
        &__items {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            gap: 100px;

                &-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                        img {
                            max-height: 119px;
                            max-width: 90px;
                        }

                        &--text {
                            font-size: 16px;
                            line-height: 22px;
                            color: $white;
                            text-align: center;
                        }
                        &:nth-child(1) span{
                            max-width: 126px;
                        }
                        &:nth-child(2) span{
                            max-width: 211px;
                        }
                        &:nth-child(3) span{
                            max-width: 145px;
                        }
                        &:nth-child(4) span{
                            max-width: 155px;
                        }

                }
        }
        &__button {
            margin-top: 60px;
            display: flex;
            justify-content: center;

                &-btn {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font-size: 18px;
                    line-height: 22px;
                    color: $light_blue;
                    padding: 18px 30px;
                    background: $white;
                    border-radius: 23px;
                    border: 1px solid $white;
                    transition: all 0.3s;

                        &:hover {
                            background: transparent;
                            border: 1px solid $white;
                            color: $white;
                        }
                            &:hover svg path {
                                transition: all 0.3s;
                                stroke: $white;
                            }
                }
        }
}

.news {
    margin-top: 105px;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;

                &--title {
                    font-family: $title_font;
                    color: $black;
                    font-size: 52px;
                    line-height: 62px;
                    text-transform: lowercase;
                }
                &--link {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    
                        p {
                            font-size: 18px;
                            line-height: 22px;
                            color: $light_blue;
                            text-decoration: underline;
                            text-underline-offset: 5px;
                            transition: all 0.3s;

                            &:hover {
                                color: $blue;
                            }
                        }
                        svg path {
                            transition: all 0.3s;
                        }
                        &:hover svg path {
                            stroke: $blue;
                        }
                }
        }
        &__content {
            margin-top: 20px;
        
            &--swiper {
                &_content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $light_blue;
                    transition: all 0.3s;
        
                    .news__content--swiper_content-arrow svg path {
                        transition: all 0.3s;
                    }
        
                    &:hover {
                        border-bottom: 1px solid $blue;
        
                        .news__content--swiper_content-arrow svg path {
                            stroke: $blue;
                        }
        
                        .news__content--swiper_content-img:after {
                            opacity: 0.5;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
        
                    &-img {
                        position: relative;
                        img {
                            width: 100%;
                        }
        
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            background: linear-gradient(
                                0deg,
                                rgba(0, 101, 189, 0.2),
                                rgba(0, 101, 189, 0.2)
                            );
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
        
                    &-text {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                        &-date {
                            font-size: 15px;
                            line-height: 18px;
                            color: $grey;
                        }
        
                        &-title {
                            font-size: 20px;
                            line-height: 24px;
                            color: $black;
                            max-width: 450px;
                        }
                    }
        
                    &-arrow {
                        margin-top: 4px;
                    }
                }
            }
        }
        
}
.qna {
    margin-top: 100px;

        &__title {
            font-size: 52px;
            line-height: 62px;
            text-transform: lowercase;
            color: $black;
            font-family: $title_font;
        }
        &__content {
            margin-top: 20px;
            display: flex;
            gap: 135px;

                &-qna {
                    flex: 80%;
                        &_item {
                            

                                &-btn {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 20px 10px;
                                    font-size: 20px;
                                    line-height: 24px;
                                    color: $black;
                                    width: 100%;
                                    
                                    transition-duration: .3s;

                                        svg {
                                            transition-duration: .3s;
                                        }
                                }
                                &-content {
                                    overflow: hidden;
                                    max-height: 0;
                                    transition: all 0.3s ease;
                                    border-bottom: 1px solid $light_blue;
                                    transition-timing-function: cubic-bezier(.4,0,.2,1);

                                        &-item {
                                            padding: 0px 10px 20px;
                                            font-size: 16px;
                                            line-height: 22px;
                                        }
                                }
                        }
                }
                &-question {
                    flex: 20%;
                    padding: 50px 41px 60px 30px;
                    background: #F3F5F5;
                    position: relative;
                    border-radius: 20px;

                        &_text {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            font-size: 16px;
                            line-height: 22px;

                                &-title {
                                    font-size: 26px;
                                    line-height: 33px;
                                }
                                &-items {
                                    font-size: 16px;
                                    line-height: 22px;
                                    max-width: 255px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;
                                }
                                &-btn {
                                    margin-top: 14px;
                                        button {
                                            font-size: 18px;
                                            line-height: 22px;
                                            color: $light_blue;
                                            padding: 18px 44px;
                                            border: 1px solid $light_blue;
                                            border-radius: 23px;
                                            background: $white;
                                            transition: all 0.3s;

                                                &:hover {
                                                    background: $blue;
                                                    color: $white;
                                                    box-shadow: 0px 4px 4px rgba(50, 52, 54, 0.15), 0px 2px 2px rgba(0, 101, 189, 0.2);
                                                    border: 1px solid $blue;
                                                }
                                        }
                                }
                        }
                }
        }
}
.contacts {
    margin-top: 100px;
}
.footer {
    margin-top: 100px;
    background: $blue;
    padding: 40px 0 30px;

        &__items {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));

                &-logo {
                    grid-column: span 3 / span 3;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                        &_btn {
                            button {
                                color: $white;
                                display: flex;
                                align-items: center;
                                gap: 14px;
                                padding: 18px 30px;
                                background: transparent;
                                border: 1px solid rgba(255, 255, 255, 0.3);
                                border-radius: 23px;
                                font-size: 18px;
                                line-height: 22px;
                                transition: all 0.3s;

                                svg path {
                                    transition: all 0.3s;
                                }

                                    &:hover {
                                        background: $white;
                                        border: 1px solid $white;
                                        color: $blue;

                                            svg path {
                                                transition: all 0.3s;
                                                stroke: $blue;
                                            }
                                    }
                            }
                        }
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    grid-column: span 2 / span 2;

                        &_title {
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 600;
                            color: $white;
                        }

                        &_list {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                                li a {
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: rgba(255, 255, 255, 0.7);
                                    transition: all 0.3s;

                                        &:hover {
                                            color: $white;
                                        }
                                }
                        }
                }
                &-catalog {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    grid-column: span 4 / span 4;

                        &_title {
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 600;
                            color: $white; 
                        }
                        &_list {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                                li a {
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: rgba(255, 255, 255, 0.7);
                                    transition: all 0.3s;

                                        &:hover {
                                            color: $white;
                                        }
                                }
                        }
                }
                &-contacts {
                    grid-column: span 3 / span 3;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: $white;

                        &_phone {
                            font-size: 36px;
                            line-height: 43px;
                        }
                        &_descr {
                            color: rgba(255, 255, 255, 0.7);
                            font-size: 16px;
                            line-height: 22px;
                            max-width: 300px;
                        }
                        &_mail {
                            margin-top: 10px;
                            font-size: 18px;
                            line-height: 22px;
                        }
                        &_btn {
                            margin-top: 15px;

                                button {
                                    padding: 18px 55.5px;
                                    color: $white;
                                    background: transparent;
                                    border-radius: 23px;
                                    border: 1px solid $white;
                                    font-size: 18px;
                                    line-height: 22px;
                                    transition: all 0.3s;

                                        &:hover {
                                            background: $white;
                                            color: $blue;
                                        }
                                }
                        }
                        &_social {
                            margin-top: 25px;
                            display: flex;
                        }
                }
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 65px;
            padding-top: 22px;
            border-top: 1px solid rgba(255, 255, 255, 0.4);

                &-date {
                    font-size: 16px;
                    line-height: 22px;
                    color: rgba(255, 255, 255, 0.5);
                }
                &-policy a{
                    font-size: 16px;
                    line-height: 22px;
                    color: $white;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
                }
                &-develop {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 16px;
                    line-height: 22px;
                    

                        span {
                            color: rgba(255, 255, 255, 0.5);
                        }
                }
        }
    
}